<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <a href="/" id="navBackToTop" aria-label="Back to top"
            onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0; event.preventDefault();"
            >
            <div class="navFooterBackToTop">
              <span class="navFooterBackToTopText love">
                Back to top
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-info">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-info">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-info">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/" class="me-4 text-info">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-info">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-info">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h5 class="text-uppercase fw-bold mb-4 text-info">
            <i class="fas fa-gem me-3"></i>BABA PHARMATECH
          </h5>
          <p class="text-info fw-bold">
            If you have any questions or comments about our machine, please don't hesitate to contact us. Our customer
            support team is available to assist you 24/7.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 text-info">
            Products
          </h5>
          <p>
            <a href="#" class="text-info fw-bold">smart filing machine</a>
          </p>
          <p>
            <a href="#" class="text-info fw-bold">Digital Machine</a>
          </p>
          <p>
            <a href="#" class="text-info fw-bold"></a>
          </p>
          <p>
            <a href="#" class="text-info fw-bold">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 text-info">
            Useful links
          </h5>
          <strong>
            <p>
              <a href="/" class="text-info">Home</a>
            </p>
          </strong>
          <strong>

            <p>
              <a href="/about" class="text-info">About</a>
            </p>
          </strong>
          <strong>
            <p>
              <a href="/product" class="text-info">Product</a>
            </p>
          </strong>
          <strong> 

            <p>
              <a href="/contact" class="text-info">Help</a>
            </p>
          </strong>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 text-info">Contact</h5>
          <strong>
            <p class="text-info"><i class="fas fa-home me-3"></i>Subash Nagar No-2,Near
              Seepz,MIDC,Andheri(E),Mumbai-40093, MAHARASHTRA</p>
          </strong>
          <strong>

            <p class="text-info">
              <i class="fas fa-envelope me-3"></i>
              pandhariyadav1111@gmail.com
            </p>
          </strong>
          <strong>

            <p class="text-info"><i class="fas fa-phone me-3"></i> +91 7977270140 , 9892332725</p>
            <p class="text-info"><i class="fas fa-print me-3"></i>Hard Copy</p>
          </strong>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="text-info fw-bold">&copy; 2023 [BaBa Pharmatech]. All rights reserved.</p>
    <a class="text-info fw-bold" href="http://localhost:4200">Babapharmatech.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->