<section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="fw-bold mb-4">About Us</h2>
       

          <p class="mb-4 text-dark first-letter-big"><strong>

            BaBA PharmaTech,we are passionate about creating innovative machines that help businesses operate more efficiently and effectively. With our state-of-the-art manufacturing facility and team of experienced professionals, we have the expertise and resources to design, develop, and produce high-quality machines that meet the needs of our clients
          </strong>
        </p>
          <p class="mb-4"><strong>

            Our commitment to quality and customer satisfaction is evident in everything we do. From the initial design phase to the final product inspection, we strive for excellence and take pride in the work we do. Whether you need a custom machine designed from scratch or a modification to an existing product, we are here to help.
          </strong>
        </p>
        
         
          
         
          <a href="http://localhost:4200/" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="./assets/10.jpg"
            class="img-fluid rounded" alt="Placeholder Image">
        </div>
      </div>
    </div>
  </section>
  
  
  