<div class="products">
  <div class="product">
    <img class="container" src="./assets/1.jpg" alt="Product 1 Image">
    <h2>Smart EYE DROP</h2>
    <p class="description">This eyedrop can make 3 bottle at a time </p>
    <p class="price">$30000</p>
    <a href="/">
      <button class="add-to-cart">
        BUY NOW</button>
    </a>
  </div>
  <div class="product">
    <img class="container" src="./assets/3.jpg" alt="Product 2 Image">
    <h2>Simple EYE drop</h2>
    <p class="description">gfdgdfgdfbdfb</p>
    <p class="price">$20000</p>
    <a href="/">
      <button class="add-to-cart">
        BUY NOW</button>
    </a>
  </div>
  <div class="product">
    <img class="container" src="./assets/2.jpg" alt="Product 3 Image">
    <h2>Product 3 Name</h2>
    <p class="description">Product 3 Description</p>
    <p class="price">$29999</p>
    <a href="/">
      <button class="add-to-cart">
        BUY NOW</button>
    </a>
  </div>
</div>
