<h2 class="text-center">
  <strong>


   A Glimpse of Machine
  </strong>
</h2>


<div class="container">

  <div>
    <video class="inline-video" controls>
      <source src="./assets/WhatsApp Video 2023-04-08 at 11.12.44 AM.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="text-center">
      <h2>80bpm</h2>
    </div>
  </div>
  
  
  <video class="inline-video" controls>
    <source src="./assets/WhatsApp Video 2023-04-08 at 11.12.44 AM.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="text-center">
    <h2>120bpm</h2>
  </div>
</div>