

  <div id="carouselExampleCaptions" class="carousel slide carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel slide" data-bs-ride="carousel" data-bs-animation="slide" data-bs-direction="left">
      <div class="carousel-item active">
        <a routerLink="product">
          
          
          <img src="./assets/l1.jpg" class="d-block custom-img-size " alt="Loading">
          
          <div class="typed-container text-center" style="color: rgb(0, 0, 0); font-weight: bold;">
            <span class="typed"></span>
          </div>
        </a>
        
      </div>
      <div class="carousel-item">
        <a routerLink="product">
          <img src="./assets/10.jpg" class="d-block  custom-img-size" alt="Loading...">
        </a>
        
      </div>
      <div class="carousel-item">
        <a routerLink="product">
          <img src="./assets/no.jpeg" class="d-block custom-img-size" alt="...">
        </a>
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>

  
  <div class="container-fluid">
    <div class="container">

      
      <h3 class="text-center mt-5"><strong>
        Eye drop Machine Manufacturer With Latest Design and Pattern
      </strong>
    </h3>
    <br>
    <h1 class="text-center"><strong>What We Do ?</strong></h1>
    <p class="container"><strong>
      
      "Welcome to Baba Pharmatech, your trusted partner in the manufacturing and resolution of eye drop machines. We are
      a dedicated team of experts committed to delivering innovative solutions for the pharmaceutical industry.
      
      At Baba Pharmatech, we understand the critical importance of accurate and efficient eye drop delivery systems.
      With years of experience and expertise in the field, we specialize in designing and manufacturing high-quality eye
      drop machines that meet the stringent standards of precision and reliability. Our state-of-the-art manufacturing
      facilities and advanced technology ensure that every machine we produce is of the highest quality, enabling our
      clients to achieve optimal performance and dosage accuracy.
      
      In addition to our exceptional manufacturing capabilities, we take pride in our comprehensive after-sales
      services. Our team of skilled technicians is committed to resolving any issues that may arise with your eye drop
      machines. We understand that downtime can be costly and disruptive, which is why we strive to provide prompt and
      efficient support, ensuring minimal disruption to your pharmaceutical operations. Our technicians are equipped
      with the expertise and resources to diagnose and resolve issues quickly, keeping your production on track.
      
      Customer satisfaction is our top priority. We work closely with our clients to understand their unique
      requirements and provide customized solutions tailored to their specific needs. Whether you are a small-scale
      pharmaceutical company or a large-scale manufacturer, we have the capabilities to meet your demands and deliver
      reliable eye drop machine solutions that enhance the efficiency and productivity of your operations.
      
      Choose Baba Pharmatech for cutting-edge technology, superior manufacturing, and reliable support. Experience the
      difference of working with a trusted partner that is dedicated to your success. Contact us today to learn more
      about our eye drop machines and how we can contribute to your pharmaceutical manufacturing excellence."
    </strong>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="./assets/l5.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">we make this type of cap one of the latest model cap </p>
              <a routerLink="productImg" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/WhatsApp Image 2023-04-08 at 11.12.45 AM (1).jpeg"
            alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">This is another type of cap which i have made</p>
              <a routerLink="productImg" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="./assets/yes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text for Card 3.</p>
              <a routerLink="productVideo" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
        
        
        
      </div>
    </div>
    <br>
    <div class="container">
      <div class="inst">
        
        
        <div class="block_header text-black pl-lg-4 fadeInRight whoare-right" style="visibility: visible;">
          <h2 class="text-uppercase text-center">Who Are We?</h2>
          <strong>
            
            
            <p class="text-black py-3">Established in Mumbai, India in 2020, Baba Pharmatech is a leading company
              specialized in the development and manufacturing of high-quality eye drop machines. With our expertise in
              the pharmaceutical industry, we provide innovative solutions and resolve issues related to eye drop machine
              manufacturing.</p>
              <p class="text-black py-3">We are dedicated to delivering cutting-edge technology and ensuring the highest
                standards of quality in our products. Our team of skilled professionals is committed to meeting the needs
                and expectations of our clients, providing them with reliable and efficient eye drop machines.
                
              </p>
            </strong>
            <a class="btn-primary" href="">Know More</a>
          </div>
        </div>
      </div>
    </div>
      
    </div>